{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "Display basic containers metrics and logs.",
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 11,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 6,
      "panels": [],
      "title": "Metrics",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
      },
      "description": "CPU Usage per Container per Second",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "fieldMinMax": false,
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 0,
        "y": 1
      },
      "id": 3,
      "maxDataPoints": 400,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "desc"
        }
      },
      "pluginVersion": "12.0.0",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
	    "uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
          },
          "editorMode": "code",
          "expr": "rate(container_cpu_usage_seconds_total{cluster=\"$cluster\", namespace=~\"$namespace\", pod=~\"$pod\", container=~\"$container\"})",
          {% raw %}
          "legendFormat": "{{namespace}} - {{pod}} - {{container}}",
          {% endraw %}
          "range": true,
          "refId": "A"
        }
      ],
      "title": "CPU",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
	"uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
      },
      "description": "Memory Usage per Container",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "fieldMinMax": false,
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "decbytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 8,
        "y": 1
      },
      "id": 2,
      "maxDataPoints": 400,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "desc"
        }
      },
      "pluginVersion": "12.0.0",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
	    "uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
          },
          "editorMode": "code",
          "expr": "container_memory_usage_bytes{cluster=\"$cluster\", namespace=~\"$namespace\", pod=~\"$pod\", container=~\"$container\"}",
          {% raw %}
          "legendFormat": "{{namespace}} - {{pod}} - {{container}}",
          {% endraw %}
          "range": true,
          "refId": "A"
        }
      ],
      "title": "RAM",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
      },
      "description": "Network Usage in Bytes/Second per Pod",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "fieldMinMax": false,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "Bps"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 16,
        "y": 1
      },
      "id": 4,
      "maxDataPoints": 400,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "desc"
        }
      },
      "pluginVersion": "12.0.0",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
          },
          "editorMode": "code",
          "expr": "- rate(container_network_receive_bytes_total{cluster=\"$cluster\", namespace=~\"$namespace\", pod=~\"$pod\"})",
          {% raw %}
          "legendFormat": "Received {{namespace}} - {{pod}}",
          {% endraw %}
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${ grafana_data_source.{{ dash.DS_PROMETHEUS | lower | replace('-', '_') }}.uid }"
          },
          "editorMode": "code",
          "expr": "rate(container_network_transmit_bytes_total{cluster=\"$cluster\", namespace=~\"$namespace\", pod=~\"$pod\"})",
          "hide": false,
          {% raw %}
          "legendFormat": "Transmitted {{namespace}} - {{pod}}",
          {% endraw %}
          "range": true,
          "refId": "B"
        }
      ],
      "title": "Network",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 9
      },
      "id": 5,
      "panels": [],
      "title": "Logs",
      "type": "row"
    },
    {
      "datasource": {
        "type": "victoriametrics-logs-datasource",
        "uid": "${ grafana_data_source.{{ dash.DS_VICTORIALOGS | lower | replace('-', '_') }}.uid }"
      },
      "fieldConfig": {
        "defaults": {},
        "overrides": []
      },
      "gridPos": {
        "h": 22,
        "w": 24,
        "x": 0,
        "y": 10
      },
      "id": 1,
      "options": {
        "dedupStrategy": "none",
        "enableInfiniteScrolling": false,
        "enableLogDetails": true,
        "prettifyLogMessage": false,
        "showCommonLabels": false,
        "showLabels": false,
        "showTime": false,
        "sortOrder": "Descending",
        "wrapLogMessage": false
      },
      "pluginVersion": "12.0.0",
      "targets": [
        {
          "datasource": {
            "type": "victoriametrics-logs-datasource",
            "uid": "${ grafana_data_source.{{ dash.DS_VICTORIALOGS | lower | replace('-', '_') }}.uid }"
          },
          "editorMode": "code",
          "expr": "cluster:\"$cluster\" k8s.namespace.name:~\"$namespace\" k8s.pod.name:~\"$pod\" k8s.container.name:~\"$container\"",
          "queryType": "instant",
          "refId": "A"
        }
      ],
      "title": "New panel",
      "type": "logs"
    }
  ],
  "preload": false,
  "schemaVersion": 41,
  "tags": [
    "kubernetes",
    "victorialogs",
    "logs"
  ],
  "templating": {
    "list": [
      {
        "allowCustomValue": false,
        "current": {
          "text": "cluster.local",
          "value": "cluster.local"
        },
        "definition": "label_values(kube_pod_container_info,cluster)",
        "description": "Kubernetes Cluster",
        "label": "Cluster",
        "name": "cluster",
        "options": [],
        "query": {
          "qryType": 1,
          "query": "label_values(kube_pod_container_info,cluster)",
          "refId": "PrometheusVariableQueryEditor-VariableQuery"
        },
        "refresh": 2,
        "regex": "",
        "type": "query"
      },
      {
        "allowCustomValue": false,
        "current": {
          "text": [
            "cert-manager"
          ],
          "value": [
            "cert-manager"
          ]
        },
        "definition": "label_values(kube_pod_container_info{cluster=\"$cluster\"},namespace)",
        "includeAll": true,
        "label": "Namespace",
        "multi": true,
        "name": "namespace",
        "options": [],
        "query": {
          "qryType": 1,
          "query": "label_values(kube_pod_container_info{cluster=\"$cluster\"},namespace)",
          "refId": "PrometheusVariableQueryEditor-VariableQuery"
        },
        "refresh": 2,
        "regex": "",
        "type": "query"
      },
      {
        "allowCustomValue": false,
        "current": {
          "text": "All",
          "value": [
            "$__all"
          ]
        },
        "definition": "label_values(kube_pod_container_info{cluster=\"$cluster\", namespace=~\"$namespace\"},pod)",
        "description": "",
        "includeAll": true,
        "label": "Pod",
        "multi": true,
        "name": "pod",
        "options": [],
        "query": {
          "qryType": 1,
          "query": "label_values(kube_pod_container_info{cluster=\"$cluster\", namespace=~\"$namespace\"},pod)",
          "refId": "PrometheusVariableQueryEditor-VariableQuery"
        },
        "refresh": 2,
        "regex": "",
        "type": "query"
      },
      {
        "allowCustomValue": false,
        "current": {
          "text": "All",
          "value": [
            "$__all"
          ]
        },
        "definition": "label_values(kube_pod_container_info{cluster=\"$cluster\", namespace=~\"$namespace\", pod=~\"$pod\"},container)",
        "description": "",
        "includeAll": true,
        "label": "Container",
        "multi": true,
        "name": "container",
        "options": [],
        "query": {
          "qryType": 1,
          "query": "label_values(kube_pod_container_info{cluster=\"$cluster\", namespace=~\"$namespace\", pod=~\"$pod\"},container)",
          "refId": "PrometheusVariableQueryEditor-VariableQuery"
        },
        "refresh": 2,
        "regex": "",
        "type": "query"
      },
      {
        "baseFilters": [],
        "datasource": {
          "type": "victoriametrics-logs-datasource",
          "uid": "${ grafana_data_source.{{ dash.DS_VICTORIALOGS | lower | replace('-', '_') }}.uid }"
        },
        "filters": [],
        "name": "Filters",
        "type": "adhoc"
      }
    ]
  },
  "time": {
    "from": "now-1h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "Kubernetes Containers Logs",
  "uid": "1b209304-3635-4d4a-9762-552913c8928a",
  "version": 1
}
